<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
	
	<typeAliases>
		<typeAlias alias="hMap" type="java.util.HashMap"/>
		<typeAlias alias="bDec" type="java.math.BigDecimal"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="sqlmap/Board.xml"></mapper>
		<mapper resource="sqlmap/User.xml"></mapper>
		<mapper resource="sqlmap/Common.xml"></mapper>
		<mapper resource="sqlmap/Map.xml"></mapper>
	</mappers>
</configuration>